<div class="app-header">
    <div class="md-layout md-gutter md-alignment-center">
        <div class="md-layout-item md-alignment-center-center">
            <div class="content-title"><h1>{{ contentTitle }}</h1></div>
        </div>
        <div class="md-layout-item md-alignment-right-center md-size-10">
            <md-button class="md-primary login">
                <md-content md-tag="img" src="/images/GitHub-Mark-64px.png"></md-content>
            </md-button>
        </div>
    </div>
</div>
